/*********************** GENERAL ************************/
/********************************************************/
body{
    --purple: #83435E;
    --rose: #96024C;
    --green: #7BAE47;
    --orange: #C4872A;
    --red: #9F0D0E;
    --turquoise: #01B1AB;
}

/********** IMG HEADER + FOOTER ***********/
    .maxWidth100{
        max-width: 100%;
    }

/********** TITRE ***********/
    .cda{
        position: relative;
        z-index: 100;
        margin-top: -2em;
        text-align: center;
        font-weight: bolder;
        font-size: 250%;
    }

/********** ICONS ***********/
    .icon{
        width: 60%;
        min-width:90px;
    }

/********** TRAIT POINTILLES ***********/
    .dottedBottom5px{
        border-bottom: dotted black 5px;
    }

/********************* COMPETENCES **********************/
/********************************************************/
    .imgCamembert{
        margin-top:-6em;
        width: 25vw;
        min-width: 250px;
        padding-right: 50px;
    }

    .qualites{
        position: relative;
        z-index: 100;
        font-size: 1.3em;
    }

    .m-camembert{
        margin-left: 5em;
    }

    @media (max-width:463px) {
        .serieux{
            top: 4vw;
            left: 3%;
        }    
        .tenace{
            bottom: 5vh;
            left: 65%;
        }    
        .autonome{
            top: 10.5vh;
            left: -1%;
        }   
        .adaptation{
            bottom: 14.5vh;
            left: 75%;
        }
        .autodidacte{
            bottom: 4.5vh;
            left: 15%;
        }
        .perfectionniste{
            bottom: 15vh;
            left: 70%;
        }
    }

    @media (min-width:464px) and (max-width:520px) {
        .serieux{
            top: 3vw;
            left: 3%;
        }    
        .tenace{
            bottom: 6vh;
            left: 55%;
        }    
        .autonome{
            top: 10.5vh;
            left: -1%;
        }   
        .adaptation{
            bottom: 14.5vh;
            left: 65%;
        }
        .autodidacte{
            bottom: 4.5vh;
            left: 15%;
        }
        .perfectionniste{
            bottom: 15vh;
            left: 62%;
        }
    }

    @media (min-width:521px) and (max-width:767px) {
        .serieux{
            top: 3vw;
            left: 3%;
        }    
        .tenace{
            bottom: 5vh;
            left: 50%;
        }    
        .autonome{
            top: 10.5vh;
            left: -1%;
        }   
        .adaptation{
            bottom: 14.5vh;
            left: 55%;
        }
        .autodidacte{
            bottom: 4.5vh;
            left: 15%;
        }
        .perfectionniste{
            bottom: 15vh;
            left: 52%;
        }
    }

    @media (min-width:767px) and (max-width:991px) {
        .serieux{
            top: 2vw;
            left: 5%;
        }    
        .tenace{
            bottom: 5vh;
            left: 150%;
        }    
        .autonome{
            top: 10.5vh;
            left: -1%;
        }   
        .adaptation{
            bottom: 14.5vh;
            left: 170%;
        }
        .autodidacte{
            bottom: 4.5vh;
            left: 15%;
        }
        .perfectionniste{
            bottom: 15vh;
            left: 155%;
        }
    }

    @media (min-width:992px){
        .serieux{
            top: 2vw;
            left: 5%;
        }    
        .tenace{
            bottom: 5vh;
            left: 110%;
        }    
        .autonome{
            top: 10vh;
            left: -10%;
        }   
        .adaptation{
            bottom: 14.5vh;
            left: 125%;
        }
        .autodidacte{
            bottom: 4.5vh;
            left: 15%;
        }
        .perfectionniste{
            bottom: 15vh;
            left: 115%;
        }
    }

/********************** SKILLS BAR **********************/
/********************************************************/
    .SkillBar {
        width: 90%;
        height: 50px;
        position: relative;
        background: rgba(17, 17, 17, .3);
        margin: 20px auto;
    }

/*********** INFOGRAPHIE EFFECTS ***********/
    #Skill-HTML {
        width: 80%;
        animation: Animate-HTML 4s;
        -webkit-animation: Animate-HTML 4s;
        -moz-animation: Animate-HTML 4s;
        -o-animation: Animate-HTML 4s;
        height: 50px;
        position: absolute;
        background-color: var(--purple);
    }

    @keyframes Animate-HTML {
        from {
        width: 10px;
    }

    to {
        width: 80%}
    }@-webkit-keyframes Animate-HTML {
        from {
        width: 10px;
    }

    to {
        width: 80%}
    }@-moz-keyframes Animate-HTML {
        from {
        width: 10px;
    }

    to {
        width: 80%}
    }@-o-keyframes Animate-HTML {
        from {
        width: 10px;
    }

    to {
        width: 65%}
    }

/*********** SQL EFFECTS ***********/
    #Skill-CSS {
        animation: Animate-CSS 5s;
        -webkit-animation: Animate-CSS 5s;
        -moz-animation: Animate-CSS 5s;
        -o-animation: Animate-CSS 5s;
        width: 72%;
        height: 50px;
        position: absolute;
        background-color: var(--rose);
    }
    @keyframes Animate-CSS {
        from {
        width: 10px;
    }

    to {
        width: 72%}
    }@-webkit-keyframes Animate-CSS {
        from {
        width: 10px;
    }

    to {
        width: 72%}
    }@-moz-keyframes Animate-CSS {
        from {
        width: 10px;
    }

    to {
        width: 72%}
    }@-o-keyframes Animate-CSS {
        from {
        width: 10px;
    }

    to {
        width: 72%}
    }

/*********** HTML EFFECTS ***********/
    #Skill-jQuery {
        animation: Animate-jQuery 5s;
        -webkit-animation: Animate-jQuery 5s;
        -moz-animation: Animate-jQuery 5s;
        -o-animation: Animate-jQuery 5s;
        width:90%;
        height: 50px;
        position: absolute;
        background-color: var(--green);
    }
    @keyframes Animate-jQuery {
        from {
        width: 10px;
    }
    to {
        width: 90%}
    }@-webkit-keyframes Animate-jQuery {
        from {
        width: 10px;
    }
    to {
        width: 90%}
    }@-moz-keyframes Animate-jQuery {
        from {
        width: 10px;
    }
    to {
        width: 90%}
    }@-o-keyframes Animate-jQuery {
        from {
        width: 10px;
    }
    to {
        width: 90%}
    }

/*********** JS / JQUERY EFFECTS ***********/
    #Skill-JS {
        animation: Animate-JS 4s;
        -webkit-animation: Animate-JS 4s;
        -moz-animation: Animate-JS 4s;
        -o-animation: Animate-JS 4s;
        width: 62%;
        height: 50px;
        position: absolute;
        background-color: var(--orange);
    }
    @keyframes Animate-JS {
        from {
        width: 10px;
    }
    to {
        width: 62%}
    }@-webkit-keyframes Animate-JS {
        from {
        width: 10px;
    }
    to {
        width: 62%}
    }@-moz-keyframes Animate-JS {
        from {
        width: 10px;
    }
    to {
        width: 62%}
    }@-o-keyframes Animate-JS {
        from {
        width: 10px;
    }
    to {
        width: 62%}
    }


/*********** PHP / SYMFONY EFFECTS ***********/
    #Skill-XML {
        animation: Animate-XML 4s;
        -webkit-animation: Animate-XML 4s;
        -moz-animation: Animate-XML 4s;
        -o-animation: Animate-XML 4s;
        width: 85%;
        height: 50px;
        position: absolute;
        background-color: var(--red);
    }
    @keyframes Animate-XML {
        from {
        width: 10px;
    }
    to {
        width: 85%}
    }@-webkit-keyframes Animate-XML {
        from {
        width: 10px;
    }
    to {
        width: 85%}
    }@-moz-keyframes Animate-XML {
        from {
        width: 10px;
    }
    to {
        width: 85%}
    }@-o-keyframes Animate-XML {
        from {
        width: 10px;
    }
    to {
        width: 85%}
    }

/*********** GIT EFFECTS ***********/
    #Skill-C {
        animation: Animate-C 4s;
        -webkit-animation: Animate-C 4s;
        -moz-animation: Animate-C 4s;
        -o-animation: Animate-C 4s;
        width: 62%;
        height: 50px;
        position: absolute;
        background-color: var(--turquoise);
    }
    @keyframes Animate-C {
        from {
        width: 10px;
    }
    to {
        width: 62%}
    }@-webkit-keyframes Animate-C {
        from {
        width: 10px;
    }
    to {
        width: 62%}
    }@-moz-keyframes Animate-C {
        from {
        width: 10px;
    }
    to {
        width: 62%}
    }@-o-keyframes Animate-C {
        from {
        width: 10px;
    }
    to {
        width: 62%}
    }

/*********** REACT EFFECTS ***********/
    #Skill-JAVA {
        animation: Animate-JAVA 4s;
        -webkit-animation: Animate-JAVA 4s;
        -moz-animation: Animate-JAVA 4s;
        -o-animation: Animate-JAVA 4s;
        width: 50%;
        height: 50px;
        position: absolute;
        background-color: #727272;
    }
    @keyframes Animate-JAVA {
        from {
        width: 10px;
    }
    to {
        width: 50%}
    }@-webkit-keyframes Animate-JAVA {
        from {
        width: 10px;
    }
    to {
        width: 50%}
    }@-moz-keyframes Animate-JAVA {
        from {
        width: 10px;
    }
    to {
        width: 50%}
    }@-o-keyframes Animate-JAVA {
        from {
        width: 10px;
    }
    to {
        width: 50%}
    }

/*********** AUTRE EFFECTS ***********/
    #Skill-PHP {
        animation: Animate-PHP 4s;
        -webkit-animation: Animate-PHP 4s;
        -moz-animation: Animate-PHP 4s;
        -o-animation: Animate-PHP 4s;
        width: 50%;
        height: 50px;
        position: absolute;
        background-color: #5A69A6;
    }
    @keyframes Animate-PHP {
        from {
        width: 10px;
    }
    to {
        width: 50%}
    }@-webkit-keyframes Animate-PHP {
        from {
        width: 10px;
    }
    to {
        width: 50%}
    }@-moz-keyframes Animate-PHP {
        from {
        width: 10px;
    }
    to {
        width: 50%}
    }@-o-keyframes Animate-PHP {
        from {
        width: 10px;
    }
    to {
        width: 50%}
    }

/*********** AUTRE EFFECTS ***********/
    #Skill-SQL {
        animation: Animate-SQL 4s;
        -webkit-animation: Animate-SQL 4s;
        -moz-animation: Animate-SQL 4s;
        -o-animation: Animate-SQL 4s;
        width: 80%;
        height: 50px;
        position: absolute;
        background-color: #23b1db;
    }
    @keyframes Animate-SQL {
        from {
        width: 10px;
    }
    to {
        width: 80%}
    }@-webkit-keyframes Animate-SQL {
        from {
        width: 10px;
    }
    to {
        width: 80%}
    }@-moz-keyframes Animate-SQL {
        from {
        width: 10px;
    }
    to {
        width: 80%}
    }@-o-keyframes Animate-SQL {
        from {
        width: 10px;
    }
    to {
        width: 80%}
    }

/*********** AUTRE EFFECTS ***********/
    #Skill-VBNET {
        animation: Animate-VBNET 4s;
        -webkit-animation: Animate-VBNET 4s;
        -moz-animation: Animate-VBNET 4s;
        -o-animation: Animate-VBNET 4s;
        width: 35%;
        height: 50px;
        position: absolute;
        background-color: #f8a51e;
    }
    @keyframes Animate-VBNET {
        from {
        width: 10px;
    }
    to {
        width: 35%}
    }@-webkit-keyframes Animate-VBNET {
        from {
        width: 10px;
    }
    to {
        width: 35%}
    }@-moz-keyframes Animate-VBNET {
        from {
        width: 10px;
    }
    to {
        width: 35%}
    }@-o-keyframes Animate-VBNET {
        from {
        width: 10px;
    }
    to {
        width: 35%}
    }


/*********** TEXT COMPETENCES BAR ***********/
    .Skill-Area {
        z-index: 1;
        float: left;
        position: absolute;
        margin-top: 15px;
        margin-left: 15px;
        text-shadow: none;
        color: #fff;
        font-family: Lato-Regular, sans-serif;
        font-size: 18px;
    }
    
/*********** TEXT POURCENTAGE BAR ***********/
    /* .PercentText {
        z-index: 3;
        position: relative;
        padding-right: 15px;
        margin-top: 15px;
        float: right;
        text-shadow: none;
        color: #fff;
        font-family: Lato-Regular, sans-serif;
        font-size: 18px;
    } */














