/*********************** GENERAL ************************/
/********************************************************/
    body{
        --violet: #5D1774;
        --darkViolet: #514264;
        --purple: #83435E;
        --rose: #96024C;
        --red: #9F0D0E;
        --orange: #C4872A;
        --yellow: #DEDB00;
        --green: #7BAE47;
        --darkGreen: #477338;
        --turquoise: #01B1AB;
        --darkTurquoise: #1A8A9B;
        --blue: #356BA2;
        --grey: #727272; 
    }

/********** Couleurs ***********/
    .violet{
        color: var(--purple);
    }

    .darkViolet{
        color: var(--darkViolet);
    }

    .purple{
        color: var(--purple);
    }

    .rose{
        color: var(--rose);
    }

    .red{
        color: var(--red);
    }

    .orange{
        color: var(--orange);
    }

    .yellow{
        color: var(--yellow);
    }

    .green{
        color: var(--green);
    }

    .darkGreen{
        color: var(--darkGreen);
    }

    .turquoise{
        color: var(--turquoise);
    }

    .darkTurquoise{
        color: var(--darkTurquoise);
    }

    .blue{
        color: var(--blue);
    }

    .grey{
        color: var(--grey);
    }

/********** TEXT LINK ***********/
    a{
        text-decoration:none;
    }

    .textLink{
        font-size: 0.7em;
        font-weight: bolder;
    }

    .textTitre{
        line-height:0.85em;
    }


/********** IMG HEADER + FOOTER ***********/
    .maxWidth100{
        max-width: 100%;
    }

/********** TITRE ***********/
    .titreCDA{
        position: relative;
        z-index: 100;
        margin-top: -2em;
        text-align: center;
        font-weight: bolder;
        font-size: 250%;
    }

    @media (max-width: 768px) {
        .titreCDA{
            font-size: 150%;
        }
    }

    @media (max-width: 450px) {
        .titreCDA{
            font-size: 1em;
        }
    }

/********** ICONS ***********/
    .icon{
        width: 60%;
        min-width:90px;
    }

/********** TRAIT POINTILLES ***********/
    .dottedBottom5px{
        border-bottom: dotted black 5px;
    }

/********************* COMPETENCES **********************/
/********************************************************/
    .imgCamembert{
        width: 300px;
        padding-right: 50px;
        margin-left: 5em;
        display: block;
    }

    .qualites{
        position: absolute;
        z-index: 100;
        font-size: 1.3em;
        text-align: center;
        font-weight: bold;
        transform: translate( -50%, -50% );
    }
    
    .DisplayInlineBlock {
        position: relative;
        display: inline-block;
    }

    .serieux {
        top: 45%;
        left: 12%;
    }

    .tenacite {
        top: 40%;
        left: 47vh;
    }

    .adaptation {
        top: 68%;
        left: 55vh;
    }

    .autonomie {
        top: 87%;
        left: 10%;
    }

    .autodidacte {
        top: 90%;
        left: 51vh;
    }

    .perfectionniste {
        top: 100%;
        left: 20vh;
    }

/********************* QUELQUES CHIFFRES **********************/
/**************************************************************/
    .txtQlqChiffres{
        font-size:1.4em;
        font-weight: bolder;
        color:#727272;
    }

    .txtChiffres{
        font-size:2em;
        font-weight: bolder;
    }

    @media (max-width: 500px) {
        .txtChiffres{
            font-size:1.4em;
        }

        .txtQlqChiffres{
            font-size:1.2em;
        }
    }

/********************* SECTION DATES **********************/
/********************************************************/
    .titreDate{
        position: absolute;
        font-size: 1.3em;
        text-align: center;
        font-weight: bold;
        transform: translate( -50%, -50% );
        left: 70%;
    }

    .textSize{
        font-size:0.9em;
        line-height: 1.2em;
        text-align: left;
    }

/******* positions des sections (section date) ******/
    .cdaSection{
        top:7%;
    }

    .msSection{
        top: 20%;
    }

    .stageSection{
        top: 33%;
    }

    .dwwmSection{
        top: 46%;
    }

    .decouverteSection{
        top: 59%;
    }

    .bioSection{
        top: 65.5%;
    }

    .ricvSection{
        top: 73%;
    }

    .tpCuisineSection{
        top: 81%;
    }

    .informatiqueSection{
        top: 91%;
    }

    .bepSection{
        top: 97%;
    }

    @media (min-width: 1260px ){
        .msSection{
            top: 18%;
        }
    }

    @media (max-width: 1200px ){
        .cdaSection{
            top:4%;
        }

        .msSection{
            top: 17%;
        }

        .stageSection{
            top: 30%;
        }
    
        .dwwmSection{
            top: 43%;
        }

        .decouverteSection{
            top: 57%;
        }
    }


 











/********************** ANIMATIONS SKILLS BAR **********************/
/********************************************************/
    .SkillBar {
        width: 90%;
        height: 50px;
        position: relative;
        background: rgba(17, 17, 17, .3);
        margin: 20px auto;
    }

/*********** INFOGRAPHIE EFFECTS ***********/
    #Skill-HTML {
        width: 80%;
        animation: Animate-HTML 4s;
        -webkit-animation: Animate-HTML 4s;
        -moz-animation: Animate-HTML 4s;
        -o-animation: Animate-HTML 4s;
        height: 50px;
        position: absolute;
        background-color: var(--purple);
    }

    @keyframes Animate-HTML {
        from {
        width: 10px;
    }

    to {
        width: 80%}
    }@-webkit-keyframes Animate-HTML {
        from {
        width: 10px;
    }

    to {
        width: 80%}
    }@-moz-keyframes Animate-HTML {
        from {
        width: 10px;
    }

    to {
        width: 80%}
    }@-o-keyframes Animate-HTML {
        from {
        width: 10px;
    }

    to {
        width: 65%}
    }

/*********** SQL EFFECTS ***********/
    #Skill-CSS {
        animation: Animate-CSS 5s;
        -webkit-animation: Animate-CSS 5s;
        -moz-animation: Animate-CSS 5s;
        -o-animation: Animate-CSS 5s;
        width: 72%;
        height: 50px;
        position: absolute;
        background-color: var(--rose);
    }
    @keyframes Animate-CSS {
        from {
        width: 10px;
    }

    to {
        width: 72%}
    }@-webkit-keyframes Animate-CSS {
        from {
        width: 10px;
    }

    to {
        width: 72%}
    }@-moz-keyframes Animate-CSS {
        from {
        width: 10px;
    }

    to {
        width: 72%}
    }@-o-keyframes Animate-CSS {
        from {
        width: 10px;
    }

    to {
        width: 72%}
    }

/*********** HTML EFFECTS ***********/
    #Skill-jQuery {
        animation: Animate-jQuery 5s;
        -webkit-animation: Animate-jQuery 5s;
        -moz-animation: Animate-jQuery 5s;
        -o-animation: Animate-jQuery 5s;
        width:90%;
        height: 50px;
        position: absolute;
        background-color: var(--green);
    }
    @keyframes Animate-jQuery {
        from {
        width: 10px;
    }
    to {
        width: 90%}
    }@-webkit-keyframes Animate-jQuery {
        from {
        width: 10px;
    }
    to {
        width: 90%}
    }@-moz-keyframes Animate-jQuery {
        from {
        width: 10px;
    }
    to {
        width: 90%}
    }@-o-keyframes Animate-jQuery {
        from {
        width: 10px;
    }
    to {
        width: 90%}
    }

/*********** JS / JQUERY EFFECTS ***********/
    #Skill-JS {
        animation: Animate-JS 4s;
        -webkit-animation: Animate-JS 4s;
        -moz-animation: Animate-JS 4s;
        -o-animation: Animate-JS 4s;
        width: 62%;
        height: 50px;
        position: absolute;
        background-color: var(--orange);
    }
    @keyframes Animate-JS {
        from {
        width: 10px;
    }
    to {
        width: 62%}
    }@-webkit-keyframes Animate-JS {
        from {
        width: 10px;
    }
    to {
        width: 62%}
    }@-moz-keyframes Animate-JS {
        from {
        width: 10px;
    }
    to {
        width: 62%}
    }@-o-keyframes Animate-JS {
        from {
        width: 10px;
    }
    to {
        width: 62%}
    }


/*********** PHP / SYMFONY EFFECTS ***********/
    #Skill-XML {
        animation: Animate-XML 4s;
        -webkit-animation: Animate-XML 4s;
        -moz-animation: Animate-XML 4s;
        -o-animation: Animate-XML 4s;
        width: 85%;
        height: 50px;
        position: absolute;
        background-color: var(--red);
    }
    @keyframes Animate-XML {
        from {
        width: 10px;
    }
    to {
        width: 85%}
    }@-webkit-keyframes Animate-XML {
        from {
        width: 10px;
    }
    to {
        width: 85%}
    }@-moz-keyframes Animate-XML {
        from {
        width: 10px;
    }
    to {
        width: 85%}
    }@-o-keyframes Animate-XML {
        from {
        width: 10px;
    }
    to {
        width: 85%}
    }

/*********** GIT EFFECTS ***********/
    #Skill-C {
        animation: Animate-C 4s;
        -webkit-animation: Animate-C 4s;
        -moz-animation: Animate-C 4s;
        -o-animation: Animate-C 4s;
        width: 62%;
        height: 50px;
        position: absolute;
        background-color: var(--turquoise);
    }
    @keyframes Animate-C {
        from {
        width: 10px;
    }
    to {
        width: 62%}
    }@-webkit-keyframes Animate-C {
        from {
        width: 10px;
    }
    to {
        width: 62%}
    }@-moz-keyframes Animate-C {
        from {
        width: 10px;
    }
    to {
        width: 62%}
    }@-o-keyframes Animate-C {
        from {
        width: 10px;
    }
    to {
        width: 62%}
    }

/*********** REACT EFFECTS ***********/
    #Skill-JAVA {
        animation: Animate-JAVA 4s;
        -webkit-animation: Animate-JAVA 4s;
        -moz-animation: Animate-JAVA 4s;
        -o-animation: Animate-JAVA 4s;
        width: 50%;
        height: 50px;
        position: absolute;
        background-color: var(--grey);
    }
    @keyframes Animate-JAVA {
        from {
        width: 10px;
    }
    to {
        width: 50%}
    }@-webkit-keyframes Animate-JAVA {
        from {
        width: 10px;
    }
    to {
        width: 50%}
    }@-moz-keyframes Animate-JAVA {
        from {
        width: 10px;
    }
    to {
        width: 50%}
    }@-o-keyframes Animate-JAVA {
        from {
        width: 10px;
    }
    to {
        width: 50%}
    }

/*********** AUTRE EFFECTS ***********/
    #Skill-PHP {
        animation: Animate-PHP 4s;
        -webkit-animation: Animate-PHP 4s;
        -moz-animation: Animate-PHP 4s;
        -o-animation: Animate-PHP 4s;
        width: 50%;
        height: 50px;
        position: absolute;
        background-color: #5A69A6;
    }
    @keyframes Animate-PHP {
        from {
        width: 10px;
    }
    to {
        width: 50%}
    }@-webkit-keyframes Animate-PHP {
        from {
        width: 10px;
    }
    to {
        width: 50%}
    }@-moz-keyframes Animate-PHP {
        from {
        width: 10px;
    }
    to {
        width: 50%}
    }@-o-keyframes Animate-PHP {
        from {
        width: 10px;
    }
    to {
        width: 50%}
    }

/*********** AUTRE EFFECTS ***********/
    #Skill-SQL {
        animation: Animate-SQL 4s;
        -webkit-animation: Animate-SQL 4s;
        -moz-animation: Animate-SQL 4s;
        -o-animation: Animate-SQL 4s;
        width: 80%;
        height: 50px;
        position: absolute;
        background-color: #23b1db;
    }
    @keyframes Animate-SQL {
        from {
        width: 10px;
    }
    to {
        width: 80%}
    }@-webkit-keyframes Animate-SQL {
        from {
        width: 10px;
    }
    to {
        width: 80%}
    }@-moz-keyframes Animate-SQL {
        from {
        width: 10px;
    }
    to {
        width: 80%}
    }@-o-keyframes Animate-SQL {
        from {
        width: 10px;
    }
    to {
        width: 80%}
    }

/*********** AUTRE EFFECTS ***********/
    #Skill-VBNET {
        animation: Animate-VBNET 4s;
        -webkit-animation: Animate-VBNET 4s;
        -moz-animation: Animate-VBNET 4s;
        -o-animation: Animate-VBNET 4s;
        width: 35%;
        height: 50px;
        position: absolute;
        background-color: #f8a51e;
    }
    @keyframes Animate-VBNET {
        from {
        width: 10px;
    }
    to {
        width: 35%}
    }@-webkit-keyframes Animate-VBNET {
        from {
        width: 10px;
    }
    to {
        width: 35%}
    }@-moz-keyframes Animate-VBNET {
        from {
        width: 10px;
    }
    to {
        width: 35%}
    }@-o-keyframes Animate-VBNET {
        from {
        width: 10px;
    }
    to {
        width: 35%}
    }


/*********** TEXT COMPETENCES BAR ***********/
    .Skill-Area {
        z-index: 1;
        float: left;
        position: absolute;
        margin-top: 15px;
        margin-left: 15px;
        text-shadow: none;
        color: #fff;
        font-family: Lato-Regular, sans-serif;
        font-size: 18px;
    }
    
/*********** TEXT POURCENTAGE BAR ***********/
    /* .PercentText {
        z-index: 3;
        position: relative;
        padding-right: 15px;
        margin-top: 15px;
        float: right;
        text-shadow: none;
        color: #fff;
        font-family: Lato-Regular, sans-serif;
        font-size: 18px;
    } */





    












